# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Models
models/*.joblib

# Data
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db